# .gitconfig
# ----------

# Global gitconfig file.

[user]
	name = Patrick Evans
	email = ppevans11@gmail.com
	username = PatEvs
[github]
	user = PatEvs
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFSX
	# pager = delta --plus-style="syntax #012800" --minus-style="normal #340001" --syntax-theme='Monokai Extended'
	longpaths = true
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
# [interactive]
#     diffFilter = delta --color-only
[color]
	ui = true
[color "branch"]
	# current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	# meta = yellow bold
	meta = 11
	frag = magenta bold
	# commit = 11
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "status"]
	added = green bold
	# changed = yellow bold
	untracked = red bold
[credential]
	helper = manager
# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	process = git-lfs filter-process
# 	required = true
[alias]
	a = add --all
	#############
	b = branch
	#############
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	cem = commit --allow-empty -m
	#############
	cl = clone
	cld = clone --depth 1
	#############
	d = diff
	ds = diff --staged
	dt = difftool
	#############
	l = log --oneline
	# lg = log --oneline --graph --decorate
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
	#############
	m = merge
	#############
	o = checkout
	om = checkout master
	ob = checkout -b
	#############
	ps = push
	pst = push --tags
	pso = push origin
	psom = push origin master
	#############
	pl = pull
	plo = pull origin
	plom = pull origin master
	#############
	r = remote
	ra = remote add
	rr = remote rm
	rv = remote -v
	##############
	s = status
	sb = status -s -b
	#############
	t = tag
	#############
	aliases = !git config -l | grep alias | cut -c 7-

# EOF #
