# ------------- #
# .editorconfig #
# ------------- #

root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Python
[*.py]
indent_size = 4

# Markdown
[*.md]
max_line_length = 80

# .gitconfig
[.gitconfig]
indent_style =  space
indent_size = 4

# EOF #
