# ---------- #
# .gitconfig #
# ---------- #

# TODO: Create script to set git configuration programatically

[user]
email = ppevans11@gmail.com
name = PatEvs

[github]
user = patevs

# [core]
# pager = diff-so-fancy | less --tabs=5 -RFX

[pager]
show = diff-so-fancy | less --tabs=1,5 -RFX
diff = diff-so-fancy | less --tabs=1,5 -RFX

[color]
ui = true

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[color "diff"]
meta = 11
frag = magenta bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse
