;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

; # TODO: Create script to set npm configuration programatically

init.author.name=PatEvs
init.author.email=ppevans11@gmail.com
init.author.url=https://github.com/patevs
init.license=MIT

